<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
<<<<<<< HEAD
  <p> Email: <input type="text" id="email" name="email"><p><br>
  <p> Username: <input type="text" id="name" name="name"><p><br><br>
  <p> Password: <input type="text" id="password" name="password"><p><br><br>
  <input type="submit" value="Sign Up">
=======
  <p> Email: <input type="text" id="email"><p><br>
  <p> Username: <input type="text" id="name"><p><br><br>
  <p> Password: <input type="text" id="password"><p><br><br>
  <input type="submit" value="Submit">
>>>>>>> 918b93583401a3e7ffe5279cdf15eefa50ed4d20
</form>
